/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}

/* from memphofest.com */
@font-face {
  font-family: 'Forty-six';
  src: url("fonts/Forty-six.ttf.woff") format("woff"), url("fonts/Forty-six.ttf.svg#Forty-six") format("svg"), url("fonts/Forty-six.ttf.eot"), url("fonts/Forty-six.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "TypoGraphica";
  src: url("fonts/TypoGraphica.eot?") format("eot"), url("fonts/TypoGraphica.woff") format("truetype"), url("fonts/TypoGraphica.svg#TypoGraphica") format("svg");
  font-weight: normal;
  font-style: normal; }

/* from https://mempho.frontgatetickets.com/ */
body {
  background: #0f3a29 url(img/bgimage.jpg) no-repeat top left;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



/* app overrides */

.list-inline.sharing {
  /* @todo: something else here? */
  display: none;
}

.container {
  background-color: #f5f5f5;
}

.projects-view {
  min-height: 600px
}

.header {
  text-align: center;
}

.user-menu {
  float: none !important;
}

.engage-wrap {
  margin-top: 1em;
}

.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-content {
  box-shadow: none;
  border-radius: 0;
  border: none;
  height: auto;
  min-height: 100%;
}

/* Taken from StateFarm modals*/
.modal-body {
  padding: 0;
}
.modal-content {
  background-color: #e6e6e6;
}

.modal-body .close {
  font-size: 40px;
  margin-top: 20px;
  margin-right: 20px;
}
#route-modal .page-title {
  font-size: 65px;
  background-color: #fff;
  color: #313131;
  padding: 60px;
  font-weight: 700;
  margin: 0;
}
#route-modal .project-teaser-view,
#route-modal .project-desc-wrap {
  padding: 60px 60px 40px;
}
#route-modal .col-sm-6 {
  padding: 0;
}





  /*.header-image {
    height: auto;
    margin: 0 auto;
    max-width: 100%;
  }

  #wrapper > * {
    background-color: white;
  }

  #wrapper > *:first-child {
    padding-bottom: 5px;
  }

  #wrapper > *:last-child {
    padding-bottom: 40px;
  }*/


/* overrides specifically for memphofest.com */




/* overrides from memphofest.com */
body {
  font-size: 18px;
  line-height: 1.5em;
  color: #252525;
}


.project-list .project-teaser-view {
  padding: 10px !important;
}
.project-list .project-teaser-view .project-view-header {
  padding: 20px;
  background-color: #fff;
  min-height: 555px;
}
.project-list .project-teaser-view .project-view-header .project-badge {
  max-width: 100%;
  position: relative;
}
.project-list .project-teaser-view .project-view-header .project-badge:after {
  position: absolute;
  top: -10px;
  right: 0;
  width: 150px;
  height: 65px;
  content: "Powered by";
  color: #999;
  background: url(img/first-republic-logo.png) no-repeat;
  background-position: bottom center;
  background-size: 150px;
}

.form-control {
  font-size: 20px;
}

.or-sep-text,
h2{
  font-family: "Forty-six",sans-serif;
}


h3,
h4{
  text-transform: uppercase;
  font-weight: bold;
}

h4.dashboard-projects-header {
  font-size: 36px;
  color: #813366;
}

#route-modal .page-title {
  font-size: 75px;
}

.btn,
.user-menu li a,
.nog-block-cover-link {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  padding: 0.85em 1em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 0;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 0.9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #813366;
  color: #fff !important;
  text-decoration: none !important;
  font-family: "TypoGraphica",sans-serif;
  text-transform: uppercase;
  font-size: 20px;
}

.user-menu li {
  width: 49.5%;
}
.user-menu.loggedin li {
  width: 33%;
}
.user-menu li a {
  width: 100%;
}

.logo-container {
  text-align: center;
}

.form-control{
  height: 50px;
}

.btn:hover,
.user-menu li a:hover,
.nog-block-cover-link:hover,
.btn:focus,
.user-menu li a:focus,
.nog-block-cover-link:focus,
.user-menu li a.router-link-active{
  background-color: #63224c !important;
  color: white;
}

.view .or-sep .or-sep-text {
  font-size: 16px;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  line-height: 40px;
  top: -20px;
  background-color: #63224c;
}

a.social-network-button {
  font-family: inherit;
  text-transform: none;
}

.project-view-header>div {
  margin-bottom: .5em;
}




/* temp? */
.organization-wrap h4:before {
  content: "Non-Profit Partner";
  visibility: visible;
}
.organization-wrap h4 {
  visibility: hidden;
}

